/.DS_Store
/SampleCI.xcodeproj/project.xcworkspace/xcuserdata/tasoperdikoulias.xcuserdatad/UserInterfaceState.xcuserstate
/SampleCI.xcodeproj/project.xcworkspace/xcuserdata/taso.xcuserdatad/UserInterfaceState.xcuserstate
/SampleCI.xcodeproj/project.xcworkspace/xcuserdata
